SUPABASE_URL=https://jioakguorsfvjuzyclrg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
AUTH_STATE_SECRET=
PUBLIC_SITE_URL=https://ivan19326.github.io/palanart-marketplace-app/
ALLOWED_RETURN_ORIGINS=https://ivan19326.github.io
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_AUTHORIZE_URL=https://oauth.vk.com/authorize
VK_TOKEN_URL=https://oauth.vk.com/access_token
TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
TELEGRAM_AUTHORIZE_URL=https://oauth.telegram.org/auth
TELEGRAM_TOKEN_URL=https://oauth.telegram.org/token
